<html>

    <head>
        
        <title>Candidate</title>
        <meta charset="utf-8">
		
    </head>
    <body>
        
        <table width="100%" border="1">
            
            <tr>
            
                <th>ID</th>
                <th>Name</th>
                <th>Part</th>
                <th>Introduce</th>
                <th>Update</th>
                <th>Delete</th>
            
            </tr>

            <% if (query != undefined) { %>
            
                <% query.forEach(function(item, index) { %>

                <tr>

                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.part %></td>
                    <td><%= item.introduce %></td>
                    <td><a href="/update/<%= item.id %>">Update</a></td>
                    <td><a href="/delete/<%= item.id %>">Delete</a></td>

                </tr>

                <% }); %>

            <% } %>
            
        </table>
        
    </body>

</html>